# General exclusions.
.vscode
u*.txt

# Don't include output files from any subdirectory.
*/a.out

# Don't include the following files.
proj_1/0[79]0*
proj_1/1[236]0*
proj_1/210*
proj_1/2[459]1*
proj_1/30[12]*